:root {
  --color-8: #F67ACB;

  --color-1: #ffffff;
  --color-2: #F7F8FA;
  --color-3: #E6EBF2;
  --color-4: rgba(255, 255, 255, 0.7);
  --color-5: #5C6066;
  --color-6: #393C40;
  --color-7: #050110;
}
